.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #333;
  padding: 1rem 2rem;
  color: #fff;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.navbar-button {
  background: none;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.navbar-button:hover {
  background-color: #fff;
  color: #333;
}

.navbar-username {
  font-size: 1rem;
}

.desktop-menu {
  display: flex;
  gap: 1rem;
}

.mobile-menu {
  display: none;
  margin-left: auto;
  position: relative;
}

.hamburger {
  background: none;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.hamburger:hover {
  background-color: #fff;
  color: #333;
}

.dropdown-menu {
  position: fixed;
  right: 0;
  top: 80px;
  background-color: #333;
  padding: 1.0rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-left, .navbar-right {
    width: 100%;
    text-align: center;
  }

  .navbar-right {
    margin-top: 0.5rem;
    flex-direction: row;
    justify-content: center;
  }

  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: flex;
  }
}