:root {
  --color-primary: #242331;
  --color-secondary: #533E2D;
  --color-accent: #A27035;
  --color-surface: #B88B4A;
  --color-background: #DDCA7D;

  --color-text-dark: #333;
  --color-text-light: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

main {
  padding-top: 100px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 2000px;
}